.contenairAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;    
    background-color: white;
}
.contenairAccueil p {
    width: 70vw;
    text-align: center;
    font-size: 2em;
}
.bootcamp {
    display:block;
}
.blockbootcamp {
    display: flex;
    padding: 10px;
    width: 70vw;
    border: 5px solid #f72073;
    border-radius: 10px;
}
.lestechno {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.lestechno img {
    width:300px;
    height: 250px;
}

@media only screen and (max-width : 900px) {
    .lestechno {
        flex-wrap: wrap;
        justify-content: center;
    }

}