.contenairEffets {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.zone1 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*.contenairEffets p {
    position: absolute;
    top:75px
  }*/
  .zoneHover {
    height: 10vh;
    width: 40vw;
    z-index: 50;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .imagehover {
  
    position: absolute; /* Position absolue pour pouvoir la placer où l'on veut */
   top: 50%; /* Déplacer l'image à 50% du haut de son conteneur parent */
    left: 50%; /* Déplacer l'image à 50% de la gauche de son conteneur parent */
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: rgb(252, 201, 61);
    border-radius: 13em / 3em;
    height: 450px;
    width: 250px;
  }
  .testsvg {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
  }
  .testsvg p {
    display: block;
    text-align: center;
  }
  .clip-path {
    transition: d 2s linear;
  }
  
  .clip-path.rect {
    d: path('M0 90 Q125 90, 250 90 L250 450 C125 450, 0 450, 0 450 Z');
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  