.contenairEffets {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.zone1 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*.contenairEffets p {
    position: absolute;
    top:75px
  }*/
  .zoneHover {
    height: 10vh;
    width: 40vw;
    z-index: 50;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .imagehover {
  
    position: absolute; /* Position absolue pour pouvoir la placer où l'on veut */
   top: 50%; /* Déplacer l'image à 50% du haut de son conteneur parent */
    left: 50%; /* Déplacer l'image à 50% de la gauche de son conteneur parent */
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: rgb(252, 201, 61);
    border-radius: 13em / 3em;
    height: 450px;
    width: 250px;
  }

  