.contenairEffet {
    position: relative;
    height: auto; /* Utilisez une hauteur auto pour s'adapter au contenu */
}

.inner_listing {
    height: 800px;
    width: 100%; /* Assurez-vous que la largeur des éléments est à 100% */
}

/* Ajoutez les styles de fond aux éléments .inner_listing */
#b1 {
    background-image: url("../assets/images/dolphin.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#b2 {
    background-image: url("../assets/images/turtle.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#b3 {
    background-image: url("../assets/images/fish.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.alphabet_ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 620px;
    border: 5px solid black;
    position: fixed; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 60px;
    font-size: 10em;
}
.contenairtest {
    height: 1000px;
   background-color: white;
}
.contenairtest p {
    margin-left: 10%;
}
.contenairevideotrans {
    height: 3000px;
}
.contenairevideotrans p {
    margin-left: 10%
}