.contenairEffet {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
}
.box {
    height: 800px;
    width: 100%;
    overflow-y: auto;
}
.b1 {
    background-image: url("../assets/images/dolphin.webp");
    background-repeat:no-repeat;
    background-size: cover;
}
.b2 {
    background-image: url("../assets/images/turtle.webp");
    background-repeat:no-repeat;
    background-size: cover;
}
.b3 {
    background-image: url("../assets/images/fish.webp");
    background-repeat:no-repeat;
    background-size: cover;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 620px;
    border: 5px solid black;
    position: fixed; 
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 60px;
    font-size: 10em;
}
.contenairtest {
    height: 1000px;
   background-color: white;
}
.contenairtest p {
    margin-left: 10%;
}
.contenairevideotrans {
    height: 1500px;
}
.contenairevideotrans p {
    margin-left: 10%
}