.Contenairpage1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    background-image: url("src/assets/space/space.webp");
    
}
.container {
    background-color: black; /* Ajoutez cette ligne */
    background-image: url("src/assets/space/space.webp"); /* Assurez-vous d'utiliser la même image de fond */
  }
  
.cercle{
    width: 100%;
    height: 100%;
    background-color: blue;

}
#test {
    position: relative;
    top: 100px;
}