.contenairSolar {
    background-image: url("../assets/space/space.webp");
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenairSolar h4{
    position:absolute;
    bottom: 20px;
    left: 22%;
    color: white;
}
.infoplanets{
    position: fixed;
    top:120px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.accelerator {
    position:absolute;
    top:120px;
    left: 10px;
    width: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dock {
    position: absolute;
    bottom: 10px;
    width: 30%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
}
.dock :hover {
    scale: 1.2;
    border: 2px solid white;
    border-radius: 5px;
}
.panel {
    width:250px;
	height:400px;
	background: rgba( 5, 241, 248, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-width: 0 10px 5px 0;
	-webkit-transform:skew(-5deg);
	-moz-transform:skew(-5deg);
	-o-transform:skew(-5deg);
	transform: skew(-5deg);
    }
