

@keyframes rotate-Mercure{
	0%{
		transform:rotate(0deg) translate(50px, 0) ;
	}
	100%{
		transform:rotate(360deg) translate(50px, 0) ;
	}
}
@keyframes rotate-Terre{
	0%{
		transform:rotate(0deg) translate(100px, 0) ;
	}
	100%{
		transform:rotate(360deg) translate(100px, 0) ;
	}
}
@keyframes orbit-Mercure {
	0%,100%{
		transform: translate(25px, 0);
	}

	25%, 75%{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(-25px, 0);
	}
}
@keyframes orbit-Terre {
    0%,100%{
		transform: translate(50px, 0);
	}

	25%, 75%{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(-50px, 0);
	}
}